header {
    background-color: green;
}

main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.shelf {
    grid-column: 1 / 4;
    background-color: gray;
}

.new {
    grid-column: 4 / 5;
    background-color: beige;
}