body {
    margin: 0px;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

/* @font-face {
    font-family: 'Cormorant';
    src: url('fonts/Cormorant-Regular.woff2') format('woff2'),
        url('fonts/Cormorant-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
} */

header {
    text-align: center;
    background-color: hsl(0, 0%, 76%);
    /* the margin between h1 and header stops collapsing when we give padding */
    padding: 15px;
}

footer {
    text-align: center;
    background-color: hsl(0, 0%, 61%);
    padding: 5px;
}

.shelf {
    padding: 25px;
    background-color: hsl(39, 31%, 63%);
}

.shelf-books {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.new {
    background-color: hsl(56, 98%, 81%);
    padding: 25px;
}

.book-entry {
    font-size: 16px;
}

.add-button {
    padding: 1rem;
    background: none;
}

.add-button:hover {
    text-decoration: underline;
}

.title {
    text-align: center;
}

.status-radio {
    display: block;
}

form {
    padding: 1em;
}

form div {
    margin-top: 1em;
}
