* {
    margin: 0;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Cormorant';
    src: url('fonts/Cormorant-Regular.woff2') format('woff2'),
        url('fonts/Cormorant-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Cormorant', sans-serif;
}

header {
    text-align: center;
    border: 1px solid black;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200fr, 1fr));
}

.shelf {
    grid-column: 1 / 4;
    padding: 1rem;
    border: 1px double black;
}

.shelf-books {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.new {
    grid-column: 4 / 5;
    height: min-content;
    border: 1px solid black;
}

.book-entry {
    font-size: 16px;
}

.add-button {
    padding: 1rem;
    background: none;
}

.add-button:hover {
    text-decoration: underline;
}

.title {
    text-align: center;
}

.status-radio {
    display: block;
}

form {
    padding: 1em;
}

form div {
    margin-top: 1em;
}
